.banner-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    z-index: 2;
    .subject-image{
        width: 84%;

    }
    .banner-title{
        position: absolute;
        bottom: 25px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 41px;
        
        color: #FCFCFC;
    }
}